.root {
    -fx-padding: 10px;
}

#gameboard {
    -fx-background-color: lightgray;
    -fx-padding: 15px;
    -fx-background-insets: 10px;
}

.board-field {
    -fx-border-width: 2px;
    -fx-border-color: black;
}
.board-field:hover {
    -fx-background-color: gray;
    -fx-border-color: white;
}

#score-board-wrapper {
}